version: '3'

services:
  torrent:
    image: lscr.io/linuxserver/qbittorrent:5.1.4
    restart: unless-stopped
    networks:
      - global_net
      - services
    environment:
      - PUID=${TORRENT_UID}
      - PGID=${GID}
      - TZ=${TZ}
      - DOCKER_MODS=ghcr.io/vuetorrent/vuetorrent-lsio-mod:latest
    volumes:
      - ${DOWNLOADS_PATH}:/downloads
      - ${HOST_PATH}/qbittorrent:/config
    ports:
      - 6881:6881
    #  - 8080:8080
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.torrent.entrypoints=https'
      - 'traefik.http.services.torrent.loadbalancer.server.port=8080'
      - 'traefik.http.routers.torrent.middlewares=authentik@docker'

  flaresolverr: # For Jackett, set to "http://flaresolverr:8191"
    image: flaresolverr/flaresolverr:v3.4.6
    restart: unless-stopped
    networks:
      - services
    dns:
      - 1.1.1.1
      - 1.0.0.1
    #ports:
    #  - 8191:8191

  ygege:
    image: uwucode/ygege:0.8.0
    restart: unless-stopped
    #ports:
    #  - "8715:8715"
    networks:
      - services
    volumes:
      - ${HOST_PATH}/ygege:/config
      - ${DOWNLOADS_PATH}:/downloads
    environment:
      YGG_USERNAME: "${YGG_USERNAME}"
      YGG_PASSWORD: "${YGG_PASSWORD}"
      TMDB_TOKEN: "${TMDB_TOKEN}"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8715/health || exit 1"]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 30s

  cross-seed:
    image: ghcr.io/cross-seed/cross-seed:6.13.6
    user: ${TORRENT_UID}:${GID} # this must match your torrent client (cross-seed does not support using PGID and PUID)
    #ports:
    #  - "2468:2468"
    networks:
      - services
    volumes:
      - ${HOST_PATH}/cross-seed:/config
      - ${DOWNLOADS_PATH}:/downloads
    command: daemon
    restart: unless-stopped

  qui:
    image: ghcr.io/autobrr/qui:v1.13.1
    restart: unless-stopped
    #ports:
    #  - "7476:7476"
    networks:
      - global_net
      - services
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.qui.entrypoints=https'
      - 'traefik.http.services.qui.loadbalancer.server.port=7476'
    volumes:
      - ${HOST_PATH}/qui:/config
      - ${DOWNLOADS_PATH}:/downloads

  autobrr:
    image: ghcr.io/autobrr/autobrr:v1.72.1
    restart: unless-stopped
    user: ${TORRENT_UID}:${GID}
    environment:
      - TZ=${TZ}
    volumes:
      - ${HOST_PATH}/autobrr:/config
    networks:
      - global_net
      - services
    #ports:
    #  - 7474:7474
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.autobrr.entrypoints=https'
      - 'traefik.http.services.autobrr.loadbalancer.server.port=7474'

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:nightly-version-2.3.2.5270
    restart: unless-stopped
    networks:
      - global_net
      - services
    environment:
      - PUID=${UID}
      - PGID=${GID}
      - TZ=${TZ}
    volumes:
      - ${HOST_PATH}/prowlarr:/config
    #ports:
    #  - 9696:9696
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.prowlarr.entrypoints=https'
      - 'traefik.http.services.prowlarr.loadbalancer.server.port=9696'
      - 'traefik.http.routers.prowlarr.middlewares=authentik@docker'

  sonarr:
    image: lscr.io/linuxserver/sonarr:4.0.16
    restart: unless-stopped
    networks:
      - global_net
      - services
    environment:
      - PUID=${UID}
      - PGID=${GID}
      - TZ=${TZ}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${HOST_PATH}/sonarr:/config
      - ${MEDIA_PATH}:/media
      - ${DOWNLOADS_PATH}:/downloads
    #ports:
    #  - 8989:8989
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.sonarr.entrypoints=https'
      - 'traefik.http.services.sonarr.loadbalancer.server.port=8989'
      - 'traefik.http.routers.sonarr.middlewares=authentik@docker'

  radarr:
    image: lscr.io/linuxserver/radarr:6.0.4
    restart: unless-stopped
    networks:
      - global_net
      - services
    environment:
      - PUID=${UID}
      - PGID=${GID}
      - TZ=${TZ}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${HOST_PATH}/radarr:/config
      - ${MEDIA_PATH}:/media
      - ${DOWNLOADS_PATH}:/downloads
    #ports:
    #  - 7878:7878
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.radarr.entrypoints=https'
      - 'traefik.http.services.radarr.loadbalancer.server.port=7878'
      - 'traefik.http.routers.radarr.middlewares=authentik@docker'

  sonarr4k:
    image: lscr.io/linuxserver/sonarr:4.0.16
    restart: unless-stopped
    networks:
      - global_net
      - services
    environment:
      - PUID=${UID}
      - PGID=${GID}
      - TZ=${TZ}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${HOST_PATH}/sonarr4k:/config
      - ${MEDIA_PATH}:/media
      - ${DOWNLOADS_PATH}:/downloads
    #ports:
    #  - 8989:8989
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.sonarr4k.entrypoints=https'
      - 'traefik.http.services.sonarr4k.loadbalancer.server.port=8989'
      - 'traefik.http.routers.sonarr4k.middlewares=authentik@docker'

  radarr4k:
    image: lscr.io/linuxserver/radarr:6.0.4
    restart: unless-stopped
    networks:
      - global_net
      - services
    environment:
      - PUID=${UID}
      - PGID=${GID}
      - TZ=${TZ}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${HOST_PATH}/radarr4k:/config
      - ${MEDIA_PATH}:/media
      - ${DOWNLOADS_PATH}:/downloads
    #ports:
    #  - 7878:7878
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.radarr4k.entrypoints=https'
      - 'traefik.http.services.radarr4k.loadbalancer.server.port=7878'
      - 'traefik.http.routers.radarr4k.middlewares=authentik@docker'

#  bazarr:
#    image: lscr.io/linuxserver/bazarr:1.4.5
#    restart: unless-stopped
#    networks:
#      - global_net
#      - services
#    environment:
#      - PUID=${UID}
#      - PGID=${GID}
#      - TZ=${TZ}
#    volumes:
#      - /etc/localtime:/etc/localtime:ro
#      - ${HOST_PATH}/bazarr:/config
#      - ${MEDIA_PATH}:/media
#    #ports:
#    #  - 6767:6767
#    labels:
#      - 'traefik.enable=true'
#      - 'traefik.http.routers.bazarr.entrypoints=https'
#      - 'traefik.http.services.bazarr.loadbalancer.server.port=6767'
#      - 'traefik.http.routers.bazarr.middlewares=authentik@docker'

  overseerr:
    image: fallenbagel/jellyseerr:preview-seerr
    networks:
      - global_net
      - services
    environment:
      - PUID=${UID}
      - PGID=${GID}
      - TZ=${TZ}
    #ports:
    #  - 5055:5055
    volumes:
      - ${HOST_PATH}/overseerr:/app/config
    restart: unless-stopped
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.services.overseerr.loadbalancer.server.port=5055'
      - 'traefik.http.routers.overseerr.entrypoints=https'

  tautulli:
    image: lscr.io/linuxserver/tautulli:2.16.0
    restart: unless-stopped
    networks:
      - global_net
      - services
    environment:
      - PUID=${UID}
      - PGID=${GID}
      - TZ=${TZ}
    volumes:
      - ${HOST_PATH}/tautulli:/config
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.services.tautulli.loadbalancer.server.port=8181'
      - 'traefik.http.routers.tautulli.entrypoints=https'
    #ports:
    #  - 8181:8181

  watchstate:
    image: ghcr.io/arabcoders/watchstate:v1.0.7
    user: "${UID}:${GID}"
    restart: unless-stopped
    networks:
      - global_net
      - services
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.services.watchstate.loadbalancer.server.port=8080'
      - 'traefik.http.routers.watchstate.entrypoints=https'
      - 'traefik.http.routers.watchstate.middlewares=authentik@docker'
    #ports:
    #  - "8080:8080" # The port which the watchstate will listen on.
    volumes:
      - ${HOST_PATH}/watchstate:/config

networks:
  services:
  global_net:
    external: true










